@{
    ViewData["Title"] = "About";
}


<li class="media list-group-item p-a">
    <a class="media-left" href="#">
        <img class="media-object img-circle"
             src="/images/users/dallas/profile/proile.jpg" id="profilePic">
    </a>
    <div class="media-body">
        <div class="media-heading">
            <small class="pull-right text-muted">4 min</small>
            <h4>Programming is Magical</h4>
        </div>
        <div class="media-body-inline-grid" data-grid="images">
            <div>
                <img data-action="zoom" data-width="1050" data-height="700" src="/images/users/dallas/post/dallas.jpg">
            </div>
        </div>
        <br/>
        <p>This application was designed to consolidate files into one place and increase operation efficiency under NETC command.</p>
        <h5>Technologies used</h5>
        <ul>
            <li>ASP.NET Core MVC 6</li>
            <li>C# 6.0</li>
            <li>Entity Framework 7</li>
            <li>Bootstrap 3.3</li>
            <li>ADO.NET SQL 2016</li>
            <li>Bower, Gulp, Node.js</li>
            <li>Angular & Razor</li>
            <li>HTML5 CSS3 JS & JQUERY</li>
        </ul>
    </div>
</li>
