@{
    ViewData["Title"] = "Home Page";
}
<div class="row">


    <div class="col-md-2 text-left">
        <h2>Status Checks!</h2>

        <div>
            <h3 class="text-uppercase">Nola sites</h3>
            <ul class="myMenu">
                <li><a href="https://www.prod.caris.netc.navy.mil/carisv2/cafis_web/login.aspx" target="_blank">CARIS</a></li>
                <li><a href="https://fastdata.navy.mil/fastdata" target="_blank">Fast Data</a></li>
                <li><a href="https://www.courses.netc.navy.mil" target="_blank">NRTC Courses</a></li>
                <li><a href="https://sas.ncdc.navy.mil/SASFields.aspx" target="_blank">NOLA SAS Link</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-uppercase">Saufley Sites</h3>
            <ul class="myMenu">
                <li><a href="https://prod.neas.netc.navy.mil" target="_blank">NEAS Production Link</a></li>
                <li><a href="http://saf002434m1424.ess.training.navy.mil" target="_blank">NEAS #1</a></li>
                <li><a href="https://prod.nflto.netc.navy.mil" target="_blank">NFLTO</a></li>
                <li><a href="https://main.prod.cetars.training.navy.mil" target="_blank">CeTARS</a></li>
                <li><a href="https://prod.edsapp.netc.navy.mil" target="_blank">EDS</a></li>
                <li><a href="https://www.aas.prod.nel.training.navy.mil/ELIAASv2p" target="_blank">Navy E-Learning</a></li>
                <li><a href="https://www.netfocus.netc.navy.mil" target="_blank">NETFOCUS</a></li>
                <li><a href="https://nights.ig.navy.mil/" target="_blank">NIGHTS Production Link</a></li>
                <li><a href="http://saf002434m1356.ess.training.navy.mil/" target="_blank">1356 NIGHTS 1</a></li>
                <li><a href="http://SAF002434M1365.ess.training.navy.mil/" target="_blank">1365 NIGHTS #2</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-uppercase">SAS LINKS</h3>
            <ul class="myMenu">
                <li><a href="https://160.125.209.184/SASFields.aspx" target="_blank">SAF002434M1391 SAS</a></li>
                <li><a href="https://160.125.209.200/SASFields.aspx" target="_blank">SAF002434M1458 SAS</a></li>
                <li><a href="https://160.127.11.30/SASFields.aspx" target="_blank">GRL003400M1491 SAS</a></li>
                <li><a href="https://160.127.11.32/SASFields.aspx" target="_blank">GRL003400M1492 SAS</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-uppercase">Daily am checks</h3>
            <ul class="myMenu">
                <li><a href="https://las.ncdc.navy.mil" target="_blank">LASA Link</a></li>
                <li><a href="https://las-rpt.ncdc.navy.mil/perception5/open.php" target="_blank">LAS Questionmark Link</a></li>
                <li><a href="https://las-rpt.ncdc.navy.mil/qmwise5/qmwise.asmx" target="_blank">LAS-rpt QMWISe Link</a></li>
                <li><a href="https://las-auth.ncdc.navy.mil/qmwise5/qmwise.asmx" target="_blank">LAS-auth QMWISe Link</a></li>
                <li><a href="https://cpm.prod.aim.netc.navy.mil/" target="_blank">AIM CPM Link</a></li>
                <li><a href="https://edmz-pcola-ctx.netc.navy.mil/" target="_blank">AIM CITRIX Link</a></li>
                <li><a href="http://saf002434m1394.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #1</a></li>
                <li><a href="http://saf002434m1395.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #2</a></li>
                <li><a href="http://saf002434m1396.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #3</a></li>
                <li><a href="http://saf002434m1397.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #4</a></li>
                <li><a href="http://saf002434m1398.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #5</a></li>
                <li><a href="http://saf002434m1399.ess.training.navy.mil/forms/frmservlet? FORM=test.fmx&USERID=&CONFIG=default&LOOK=oracle&COL OR=blue&OTHERPARAMS=useSDI%3Dyes" target="_blank">CeTARS Forms #6</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <h1>Blog/ Post comming soon</h1>
        <p>blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla</p>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Beta Release</h4>
            </div>
            <div class="modal-body">
                <h3>Enjoy Beta v1.0.21</h3>
                <hr/>
                <img class="img-responsive" src="/images/users/dallas/post/dallas.jpg"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


