@model NETCOperations.Models.OpsViewModels.sop



<h2>Create</h2>

<form asp-action="Create"
      asp-controller="sops"
      method="post"
      enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="shortDescription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="shortDescription" class="form-control"/>
            <span asp-validation-for="shortDescription" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="file" name="files" multiple />
    </div>
    
    <input class="btn-success btn" type="submit" value="Upload Selected Files"/>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
